@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0px 0px;
}
body {
  background-color: black;
}
nav {
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: bold;
  padding: 10px;
  background-color: darkgrey;
}

.nome-header {
  position: absolute;
  top: 10px;
  left: 20px;
}
.nav-links {
  text-align: center;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
  display: inline;
  list-style: none;
}

header {
  color: white;
  font-family: "Lato", sans-serif;
  height: 100%;
}

.info-container {
  width: 70%;
  margin: 200px auto;
}

.info-container h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

.info-container p {
  font-size: 40px;
  line-height: 60px;
}

hr {
  margin: 0px 40px;
  color: #626607;
}

.container-projetos {
  width: 90%;
  height: 900px;
  background-color: gray;
  margin: 130px auto;
}
