# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/React/learning/node_modules
/React/learning/.pnp
/React/learning/pnp.js

# testing
/React/learning/coverage

# production
/React/learning/build

# misc
/React/learning/.DS_Store
/React/learning/.env.local
/React/learning/.env.development.local
/React/learning/.env.test.local
/React/learning/.env.production.local
 
/React/learning/npm-debug.log*
/React/learning/yarn-debug.log*
/React/learning/yarn-error.log*

#
/React/todo-app/node_modules
/React/todo-app/.pnp
/React/todo-app/pnp.js

# testing
/React/todo-app/coverage

# production
/React/todo-app/build

# misc
/React/todo-app/.DS_Store
/React/todo-app/.env.local
/React/todo-app/.env.development.local
/React/todo-app/.env.test.local
/React/todo-app/.env.production.local
 
/React/todo-app/npm-debug.log*
/React/todo-app/yarn-debug.log*
/React/todo-app/yarn-error.log*
